DJANGO_SECRET_KEY=reemplace-con-una-clave-larga-y-aleatoria
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,[::1],192.168.43.90
DJANGO_TIME_ZONE=America/Santo_Domingo
DJANGO_STATIC_ROOT=C:\Tabacalera\staticfiles
DB_NAME=Tabacalera
DB_HOST=DESKTOP-VGQEGRL
